<html>
    <head>
        <title></title>
    </head>
    <body>
    	<div class="row-fluid">
            <div class="span12" style="padding-left:400px;padding-top:50px;">
            	{% if list_exhibit %}
		            <div class="row-fluid">
			            <div class="span3"><h2>Download </h2></div>
				        <div class="span9">
	                        {% for l in list_exhibit %}
			                	<div class="audiofeature" id="file_title">{{ l['file_name'] }}
				                	<a title="Download" href="/download_item/{{l['guid']}}" data-id="" class="download_icon" target="_blank">
    				                    <img class="download_song" src="{{url_for('static',filename='images/download_gray.png')}}">
				                    </a>
			                	</div>
			                {% endfor %}
			            </div>
		            </div>
	            {% endif %}
            </div>
        </div>
    </body>
</html>

