<div class="row-fluid"><button id="download_item" class="btn btn-info" title="download_item"><a href="/upload_videos"> Download videos</a> </button></div>
    		<div class="row-fluid"><button id="download_item" class="btn btn-info" title="download_item"><a href="/upload_image"> Download Images</a> </button></div>

    		<html>
<head>
<style>
	.span3{
		width :170px;
	}
</style>
</head>

<body>
	<form action="crud3.html" id="crud_img">
	<div class="span3">Choose images</div>
	    <div class="span9"><input type="file" size=60 name="exhibit_image" multiple="" style="cursor:pointer" required/>
    <input type="submit" value="submit">

	</div>
	</form>
	
</body>
</html>
<script>
    $("#redirect").click(function(){
      var item_id = $(this).data('item_id');
      var url = "/video_upload";
      var params = {'item_id': item_id};
      return $.get(url,params);
     });
  </script>
  SELECT item.title,item.description,file_attachment.file_name,file_attachment.file_type,file_attachment.file_path FROM item INNER JOIN file_attachment ON item.id = file_attachment.item_id ORDER BY item.id

  <div id="grid-container">
  <div id="grid"> 
    <div id="row1" class="image-row"> 
      <ul> 
        <li> 
          <img id="img1" class="grid-image" src=""> 
        </li>
        <li>
          <img id="img2" class="grid-image" src=""> 
        </li>
        <li>
          <img id="img3" class="grid-image" src=""> 
        </li>
        
      </ul>
    </div>
    <div id="row2" class="image-row"> 
      <ul> 
          <li>
          <img id="img4" class="grid-image" src=""> 
        </li>
        <li> 
          <img id="img5" class="grid-image" src=""> 
        </li>
        <li>
          <img id="img6" class="grid-image" src=""> 
        </li>
      </ul>
    </div>
  </div>
</div>                    curs.execute("DELETE FROM file_attachment WHERE item_id = %s", (ex_id,))
                with cls._get_cursor(connect) as curs:
        

postgres.py

'''

    @classmethod
    def delete_item_by_id(cls,ex_id):
        try:
            #to delete item by its id from both the table i.e item and file_attachment
            query = "SELECT it.*,ft.* FROM item as it INNER JOIN file_attachment as ft ON it.id=ft.item_id WHERE it.id = %s"
            params = (ex_id,)
            cls.__delete(query,params)

'''